@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap");
:root {
  --stdWhite : #ffffff;
  --menugrey : #4c4c4c;
  --primeblack : #1a1a1a;
 --color-1 : #656565;
--color-2 : #0a0a0a;
 --color-3 :#c1c1c1;
  --color-4 :#dbdbdb;
  --color-5 :#717081;
  --color-6:#1e1e1e;
  --color-7:#353535;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
li ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button,
input {
  background-color: transparent;
}
.cta {
  background-image: url(../images/illustrations/h1_hero3.jpg);
  height: 55vh;
  background-repeat: no-repeat;
  animation: changeBackground 15s infinite;
  background-size: cover;
  background-position: center;
}
@keyframes changeBackground {
  0% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../images/illustrations/h1_hero1.jpg");
  }
  33.3% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../images/illustrations/h1_hero2.jpg");
  }
  66.66% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../images/illustrations/h1_hero3.jpg");
  }
  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../images/illustrations/h1_hero1.jpg");
  }
}
.cta-label {
  color:var(--stdWhite);
  text-align: center;
  padding: 70px;
}
.cta-label p {
  color:var(--stdWhite);
  font-size: 20px;
  font-weight: 300;
}
.cta-label h2 {
  font-size: 35px;
  font-weight: 400;
  color: var(--stdWhite);
  line-height: 1.1;
  font-family: "Poiret One", sans-serif;
  animation: scaleAnimation 3s;
}
@keyframes scaleAnimation {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.one {
  animation: displaychange 15s infinite linear;
  animation-delay: 1s;
}
.two {
  animation: displaychange 15s infinite linear;
  animation-delay: 5s;
}
.three {
  animation: displaychange 15s infinite linear;
  animation-delay: 10s;
}
@keyframes displaychange {
  0%,
  33.33% {
    display: block;
  }
  33.35%,
  100% {
    display: none;
  }
}
.logo {
  padding: 13px 13px 0px 13px;
  width: 65%;
}
.menu-s {
  height: 60px;
  background-color: var(--menugrey);
  text-align: end;
}
.menu-s button {
  color: var(--stdWhite);
  background-color: var(--primeblack);
  margin: 12px 10px 0px 0px;
  padding: 6px;
  width: 100px;
  border-radius: 5px;
  font-weight: 600;
}
.main-nav {
  display: none;
}
.signature img {
  width: 35%;
  padding-top: 20px;
}
.main-1 {
  padding-left: 10px;
}
.sign h2 {
  width: 85%;
  font-family: "Poiret One", sans-serif;
  font-size: 24px;
  padding-top: 50px;
  font-weight: 300;
}
.sign p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-1);
  padding-top: 20px;
}
.main-img {
  padding-top: 30px;
}
.logo-0-8 {
  text-align: center;
}
.logo-0-8 img {
  padding-top: 50px;
  width: 65%;
  display: block;
  margin: 0 auto;
}
.logo-0-8 .exp {
  font-weight: 300;
  font-size: 20px;
  color: var(--color-2);
  text-align: center;
  padding-top: 15px;
  padding-right: 40px;
}
.logo-0-8 .exp-2 {
  width: 88%;
  font-size: 24px;
  font-weight: 400;
  color: var(--color-2);
  padding-top: 15px;
  line-height: 1.5;
  text-align: left;
  padding-left: 50px;
}
.logo-0-8 button {
  border: 1px solid var(--color-2);
  padding: 10px 30px;
  margin-top: 40px;
  margin-right: 75px;
}
.logo-0-8 button:hover {
  background-color: var(--color-2);
  color: #ffffff;
}
.main-2 {
  padding-top: 70px;
}
.design-images {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.first {
  background-image: url(../images/illustrations/gallery1.jpg);
}
.second {
  background-image: url(../images/illustrations/gallery2.jpg);
}
.third {
  background-image: url(../images/illustrations/gallery3.jpg);
}
.fourth {
  background-image: url(../images/illustrations/gallery4.jpg);
}
.fifth {
  background-image: url(../images/illustrations/gallery5.jpg);
}
.sixth {
  background-image: url(../images/illustrations/gallery6.jpg);
}
.design-img-content {
  text-align: center;
  display: none;
  padding-bottom: 60px;
}
.main-3-h2 {
  font-size: 38px;
  font-family: "Poiret One", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  padding-top: 50px;
  padding-left: 15px;
}
.main-3-cards figure {
  width: 92%;
  margin: 0 auto;
  padding-top: 45px;
}
.main-3-cards figcaption h2 {
  font-size: 30px;
  font-family: "Poiret One", sans-serif;
  line-height: 1.4;
  font-weight: 300;
  color: var(--color-2);
  padding-top: 15px;
}
.main-3-cards figcaption p {
  color: var(--color-1);
  font-size: 18px;
  font-weight: 300;
  padding-top: 15px;
}
.main-4 {
  margin: 50px 0px 50px 0px;
}
.testimoials {
  height: 490px;
  background-color: var(--color-2);
  text-align: center;
}
.testimoials h3 {
  color: var(--stdWhite);
  text-align: center;
  padding-top: 100px;
  font-size: 29px;
  font-weight: 300;
  font-family: "Poiret One", sans-serif;
}
.testimoials p {
  text-align: center;
  color: var(--color-3);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 40px;
}
.founder {
  width: 20%;
  margin: 15px auto;
}
.testimoials span {
  color:var(--color-3);
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
}
.main-5 h2 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
  font-family: "Poiret One", sans-serif;
  padding-bottom: 20px;
}
.rate-card hr {
  background-color: var(--color-4);
  height: 1px;
}
.rate-card {
  border: 1px solid var(--color-4);
  width: 95%;
  margin: 25px auto;
}
.rate-card .ph-btn {
  display: block;
  margin: 35px auto 11px;
  background-color: var(--color-2);
  color: var(--stdWhite);
  padding: 7px 20px;
  border-radius: 20px;
}
.rate-card h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 30px;
}
.rate-card p {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-5);
  text-align: center;
  line-height: 2.4;
  width: 77%;
  margin: 0 auto;
  padding: 30px 0px 11px 0px;
}
.rate-card .plan-btn {
  text-transform: uppercase;
  display: block;
  margin: 10px auto 30px;
  border: 1px solid var(--color-2);
  padding: 10px 55px;
}
.main-6 {
  display: flex;
  flex-wrap: wrap;
}
.main-6-img {
  width: 50%;
  height: 160px;
  display: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.imo-61 {
  background-image: url(../images/illustrations/instra1.jpg);
}
.imo-62 {
  background-image: url(../images/illustrations/instra2.jpg);
}
.imo-63 {
  background-image: url(../images/illustrations/instra3.jpg);
}
.imo-64 {
  background-image: url(../images/illustrations/instra4.jpg);
}
.imo-65 {
  background-image: url(../images/illustrations/instra5.jpg);
}
.insta {
  display: none;
}
.main-6 :nth-child(4),
.main-6 :nth-child(5) {
  display: block;
}
.footer {
  background-color: var(--color-6);
}
.footer-logo {
  padding-left: 20px;
}
.footer-logo-img {
  width: 58%;
  padding-top: 35px;
}
.footer-logo p {
  color: var(--color-3);
  font-weight: 300;
  line-height: 1.8;
  padding-top: 25px;
}
.icon {
  display: flex;
  list-style-type: none;
  column-gap: 20px;
  padding-top: 25px;
}
.icon li a i {
  color: var(--stdWhite);
  font-size: 20px;
}
.footer-navigation {
  padding: 50px 0px 0px 20px;
}
.footer-navigation h2 {
  color: var(--stdWhite);
  font-size: 20px;
  font-weight: 400;
}
.footer-navigation a {
  color: var(--color-3);
  font-weight: 300;
  display: block;
  padding-top: 20px;
}
.footer-contact {
  padding: 50px 0px 20px 20px;
}
.footer-contact h2 {
  color: var(--stdWhite);
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
}
.footer-contact a {
  color: var(--color-3);
  display: block;
  padding-top: 15px;
  line-height: 1.8;
}
.footer-contact .mail {
  font-size: 14px;
  font-weight: 300;
  color: var(--stdWhite);
}
.footer-contact .mobile {
  font-size: 22px;
}
.footer-subscribe {
  padding: 25px 0px 20px 20px;
}
.footer-subscribe h2 {
  color: var(--stdWhite);
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
}
.Newsletter {
  width: 94%;
}
.footer-subscribe input {
  width: 100%;
  background-color: var(--color-7);
  padding: 12px 0px 12px 20px;
  margin: 20px 0px 10px 0px;
}
.footer-subscribe button {
  border: 1px solid var(--stdWhite);
  color: var(--stdWhite);
  padding: 10px 100px;
  width: 100%;
}
.footer-1 {
  padding-bottom: 80px;
  border-bottom: 1px solid var(--color-3);
}
.last-footer p {
  color: var(--color-3);
  font-size: 18px;
  font-weight: 300;
  line-height: 2;
  width: 94%;
  margin: 0 auto;
  text-align: center;
  padding: 25px 0px 25px 0px;
}
.top-button {
  background-color: var(--color-2);
  position: fixed;
  bottom: 25px;
  right: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 9px;
  border-radius: 40px;
  box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);
}
/* **********************************************TABLET VIEW************************************************************************************************************************************************************************** */
@media (min-width: 768px) {
  .cta {
    height: 78vh;
  }
  .logo {
    padding: 13px 13px 0px 30px;
    width: 28%;
  }
  .cta-label h2 {
    font-size: 70px;
    margin: 0 auto;
    width: 90%;
  }
  .cta-label {
    padding: 180px 0px 0px 0px;
  }
  .sign h2 {
    font-size: 30px;
  }
  .sign p {
    width: 69%;
  }
  .signature img {
    width: 15%;
  }
  .main-1 {
    display: flex;
    flex-wrap: wrap;
  }
  .main-img,
  .experience {
    width: 50%;
  }
  .main-img img {
    display: block;
    margin: 45px auto;
    width: 85%;
    height: 80%;
  }
  .logo-0-8 img {
    width: 55%;
  }
  .main-2 {
    display: flex;
    flex-wrap: wrap;
  }
  .design-images {
    width: 33.33%;
  }
  .main-3-cards ,.main-5-cards ,.footer-1  {
    display: flex;
    flex-wrap: wrap;
  }
  .main-3-cards figure {
    width: 46%;
  }
  .main-3-cards figure img {
    height: 50%;
  }
  .main-3-cards :nth-child(3) {
    padding-top: 0px;
    margin-left: 15px;
  }
  .testimoials p {
    width: 70%;
    margin: 0 auto;
    font-size: 18px;
  }
  .testimoials h3 {
    font-size: 50px;
  }
  .founder {
    width: 8%;
  }
  .main-5 h2 {
    font-size: 30px;
  }
  .rate-card {
    width: 45%;
  }
  .main-5-cards .last {
    margin: 0px 0px 100px 20px;
  }
  .main-6-img {
    display: block;
    width: 20%;
  }
  .footer-1 {
    padding-top: 40px;
  }
  .footer-logo,
  .footer-contact,
  .footer-navigation,
  .footer-subscribe {
    width: 50%;
  }
  .footer-navigation {
    padding: 26px 0px 0px 140px;
  }
  .footer-subscribe {
    padding: 50px 0px 20px 20px;
  }
}
/* **********************************************DESKTOP VIEW************************************************************************************************************************************************************************** */
@media (min-width: 992px) {
  .cta {
    height: 130vh;
  }
  .cta-label {
    padding: 730px 0px 0px 0px;
  }
  .menu-s {
    display: none;
  }
  .main-nav {
    display: flex;
  }
  .logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 25px 13px 2px 30px;
    border-bottom: 1px solid var(--color-1);
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: var(--color-2);
  }
  .logo img {
    width: 13%;
    object-fit: contain;
  }
  .main-nav .nav-links , .social-icons {
    color: var(--stdWhite);
    display: flex;
    column-gap: 45px;
    list-style-type: none;
    padding-top: 5px;
  }
  .main-nav .nav-links li {
    font-size: 16px;
    height: 50px;
  }
  .main-nav .nav-links li:hover {
    border-bottom: 2px solid var(--stdWhite);
  }
  .main-nav ul li a i {
    color: var(--stdWhite);
    font-size: 17px;
    transition: all 0.3s linear;
  }
  .main-nav ul li a i:hover {
    transform: rotateY(180deg);
  }
  .social-icons {
    column-gap: 20px;
    padding-right: 20px;
  }
  .sign,
  .main-img,
  .experience {
    width: 30%;
  }
  .main-1 {
    justify-content: center;
    align-items: center;
  }
  .sign h2 {
    font-size: 50px;
  }
  .sign p {
    width: 100%;
  }
  .signature img {
    width: 23%;
  }
  .logo-0-8 {
    text-align: left;
    padding: 0px 0px 14px 50px;
  }
  .logo-0-8 img {
    margin: 0px;
    width: 45%;
    padding-top: 0px;
  }
  .logo-0-8 .exp {
    text-align: justify;
  }
  .logo-0-8 .exp-2 {
    padding-left: 0px;
  }
  .design-images {
    height: 90vh;
  }
  .first:hover {
    background-image: linear-gradient(rgba(255, 251, 251, 0.1),
        rgba(0, 0, 0, 1)),
      url(../images/illustrations/gallery1.jpg);
  }
  .second:hover {
    background-image: linear-gradient(rgba(255, 251, 251, 0.1),
        rgba(0, 0, 0, 1)),
      url(../images/illustrations/gallery2.jpg);
  }
  .third:hover {
    background-image: linear-gradient(rgba(255, 251, 251, 0.1),
        rgba(0, 0, 0, 1)),
      url(../images/illustrations/gallery3.jpg);
  }
  .fourth:hover {
    background-image: linear-gradient(rgba(255, 251, 251, 0.1),
        rgba(0, 0, 0, 1)),
      url(../images/illustrations/gallery4.jpg);
  }
  .fifth:hover {
    background-image: linear-gradient(rgba(255, 251, 251, 0.1),
        rgba(0, 0, 0, 1)),
      url(../images/illustrations/gallery5.jpg);
  }
  .sixth:hover {
    background-image: linear-gradient(rgba(255, 251, 251, 0.1),
        rgba(0, 0, 0, 1)),
      url(../images/illustrations/gallery6.jpg);
  }
  .design-images:hover .design-img-content {
    display: block;
  }
  .design-img-content p {
    font-size: 18px;
    color: var(--stdWhite);
    font-weight: 300;
  }
  .design-img-content h2 {
    font-size: 32px;
    color: var(--stdWhite);
    font-weight: 500;
    font-family: "Poiret One", sans-serif;
  }
  .main-3 {
    width: 90%;
    margin: 0 auto;
  }
  .main-3-h2 {
    padding-left: 50px;
  }
  .main-3-cards {
    justify-content: center;
  }
  .main-3-cards figure {
    width: 30%;
    margin: 0 10px;
  }
  .main-3-cards :nth-child(3) {
    padding-top: 45px;
    margin-left: 10px;
  }
  .main-3-cards figure img {
    height: 65%;
  }
  .testimoials {
    height: 600px;
  }
  .testimoials p {
    font-size: 24px;
  }
  .founder {
    width: 4%;
  }
  .main-5 h2 {
    font-size: 50px;
  }
  .rate-card {
    width: 27%;
    margin: 25px 0px 25px 0px;
  }
  .main-5-cards .last {
    margin: 25px 0px;
  }
  .main-5-cards {
    justify-content: center;
    column-gap: 25px;
    padding: 20px 0px 40px 0px;
  }
  .rate-card p {
    width: 60%;
  }
  .rate-card .plan-btn {
    width: 90%;
    margin: 25px auto 45px;
  }
  .rate-card:hover .plan-btn {
    background-color: var(--color-2);
    color: var(--stdWhite);
  }
  .rate-card .plan-btn:hover {
    background-color: var(--stdWhite);
    color: var(--color-2);
  }
  .main-6-img {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-6 :nth-child(4),
  .main-6 :nth-child(5) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imo-61:hover {
    background-image: linear-gradient(rgba(124, 156, 250, 0.3),
        rgba(124, 156, 250, 0.3)),
      url(../images/illustrations/instra1.jpg);
  }
  .imo-62:hover {
    background-image: linear-gradient(rgba(124, 156, 250, 0.3),
        rgba(124, 156, 250, 0.3)),
      url(../images/illustrations/instra2.jpg);
  }
  .imo-63:hover {
    background-image: linear-gradient(rgba(124, 156, 250, 0.3),
        rgba(124, 156, 250, 0.3)),
      url(../images/illustrations/instra3.jpg);
  }
  .imo-64:hover {
    background-image: linear-gradient(rgba(124, 156, 250, 0.3),
        rgba(124, 156, 250, 0.3)),
      url(../images/illustrations/instra4.jpg);
  }
  .imo-65:hover {
    background-image: linear-gradient(rgba(124, 156, 250, 0.3),
        rgba(124, 156, 250, 0.3)),
      url(../images/illustrations/instra5.jpg);
  }
  .insta i {
    font-size: 45px;
  }
  .main-6-img:hover .insta {
    display: block;
  }
  .footer-logo,
  .footer-contact,
  .footer-navigation,
  .footer-subscribe {
    width: 25%;
  }
  .footer-navigation {
    padding: 50px 0px 0px 140px;
  }
  .footer-subscribe {
    padding: 50px 0px 20px 20px;
  }
  .footer-logo {
    padding-top: 15px;
  }
  .footer-1 {
    width: 90%;
    margin: 0 auto;
  }
  .footer-contact a:hover,
  .footer-navigation a:hover {
    transform: translateX(5px);
    text-decoration: underline var(--stdWhite);
    color: var(--stdWhite);
  }
  .end {
    color: var(--stdWhite);
  }
  .icon li a i {
    transition: all 0.3s linear;
  }
  .icon li a i:hover {
    transform: rotateY(180deg);
  }
}